{% extends 'base.html.twig' %}

{% block title %}All films{% endblock %}

{% block body %}
    <h1>All films</h1>

  <a class="btn btn-success" href="{{path('add_film')}}" >Add a film</a>

     {% if films|length > 0 %}

            <p>There are {{films|length }} films</p>

 
            <table class="table table-hover">  

                {%for  film in films %}
                <tr>
                <td><a href="{{ path('show_film',{'id':film.id}) }}"> {{film}}</a> {{'('~film.dateFilm | date('d/m/Y')~')'}}</td>
                <td><a href="{{ path('delete_film', {'id':film.id}) }}">Delete</a> </td>
                <td><a href="{{ path('update_film', {'id':film.id}) }}">Edit</a></td>
                </tr>
                {% endfor %}

            </table>

    {% else %}
        <p>No films to show </p>
    {% endif %}
     
{% endblock %}
